<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Rovers</h1>

    <h3>Due to popular demand, we are pleased to present 3 new Rovers!</h3>
    <h3>Access the data with:</h3>
    <h3><a href="./bots">/api/bots</a></h3>
    <h3><a href="./bots/Rat">Rat</a></h3>
    <h3><a href="./bots/Ox">Ox</a></h3>
    <h3><a href="./bots/Tiger">Tiger</a></h3>
</body>
</html>
