.headerContainer {
    height: 65px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    /* border-bottom: 0.5px solid silver; */
}

.wastLogo {
    width: 188px;
    height: 29.5px;
    margin-left: 60px;
}

.line {
    /* border-bottom: 5px solid#a7ab88; */
    width: 30%;
    height: 5px;
    background-color: #a7ab88;
    margin-left: 40px;

}