.left-panel-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eee;
  margin-right: 10px;
  position: fixed;
  width: 40px;
}


.menu {
  text-align: center;
  background-color: #eee;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;  
}

.colorBox {
  background-color: #9eabac;
  height: 95px;
  margin-bottom: 10px;
}


.addBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  margin: 8px 0;
  border-right: 2px solid  #9eabac;
}
.addBox:hover {
  border-right:2px solid black;
}

.addIcon{
  color: black;
  margin-top: 5px;
}


.boardIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bolder;
  height: 40px;
  margin: 8px 0;
  border-right: 2px solid  #9eabac;
}

.boardIconBox:hover {
  border-right:2px solid black;
}

.boardIcon{
  color: black;
  margin-top: 5px;
}

.listBox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bolder;
  height: 40px;
  margin: 8px 0;
  border-right: 2px solid  #9eabac;
}

.listBox:hover {
  border-right:2px solid rgba(0, 0, 0, 0.438);
  cursor: wait;
}

.listIcon{
  color: black;
  opacity: 40%;
  margin-top: 5px;
  cursor: wait;
}

.tooltipList {
  background-color: #303030;
  color: white;
}

