
.boardRow {
    width: 100%;
    display: flex; 
    flex-wrap: nowrap;
    /* border: 1px solid red; */
  }
  
  
  .expandedCol {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 40px;
    margin: 1.5px;
  }
  
  
  .boardCol {
    width: 100%;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 40px;
    margin: 1.5px;
    /* border: 1px dotted blue; */
  }
  
  
  .leftRow {
    align-self: center;
    cursor: pointer;
    text-align: center;
    /* background-color: skyblue; */
  }
  
  .topLeft,.leftRow {
    max-width: 30px; 
  }
  
  .rowText {
    font-family: "Roboto",sans-serif;
    font-size: 0.8em;
  }